<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <h2>Welcome to true hire</h2>
    <form action="" method="">
        <input type="email" placeholder="Email" name="email">
        <input type="password" placeholder="password" name="password">
        <input type="submit" value="login">
    </form>

</body>

</html>