<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>

<body>
    <h2>Signup for True Hire</h2>
    <form action="/signup" method="post">
        
        <input type="text" name="fullName" placeholder="Full Name">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="password">
        <input type="password" name="conformPassword" placeholder="Conform Password">
        <select id="role">
            <option value="candidate">Candidate</option>
            <option value="employer">Employer</option>

        </select>
        <input type="submit" value="Signup">
    </form>

</body>

</html>